
.hero {
  background: url("../images/Landing-Page-Background-Image-1.png"); bottom no-repeat;
  color: rgba(0,204,204,.7);
  min-height: 820px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.small_logo {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}
  .site-logo {
  display: block;
  text-align: center;
  padding-top: 200px;
  position: center;
}

  ul {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin-right: 40px;
  margin-top: 40px;
}
ul li {
  float: right;
  padding: 8px;
  text-indent: 20px;
}
ul li a {
  text-decoration: none;
  color: #fff;

}
.btn-outline {
  background-color: rgba(70,70,70,.7);
  border-style: groove;
  border-color: white;
  border-radius: 7px;
  padding-right: 20px;
  padding-left: 0;
}




html, body{
  overflow-x: hidden;
}
body {font-family: "Open Sans", Arial, sans-serif;
color:#333333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Slab", Quicksand, Arial, sans-serif;
}
h1 {
  color: #fff;
}
h2{
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {font-size: 16px;
line-height: 19px;
font-weight: 100;
}




