/*throw away code*/


.boxone, /*.boxtwo, .boxthree, footer */
  {
    width: 100%; 
}
nav {
  padding: 15px 0;
  background-color: rgba(0,204,204, .7) 
  }
.background-image {
  background: url(../images/Landing-Page-Background-Image-1.png) bottom no-repeat; z-index: 0;
  width: 100%;
  }
  

.site-logo {
  display: block;

}

ul {
  margin: 20px;
  display: inline;
}

 
}
html, body{
  overflow-x: hidden;
}
body {font-family: "Open Sans", Arial, sans-serif;
color:#333333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Slab", Quicksand, Arial, sans-serif;
}
h2{
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {font-size: 16px;
line-height: 19px;
font-weight: 100;
}
/*GRID*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container: before,
.container: after {
  content: "";
  display: table;
}
.container: after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0;
}



